.btnBorder {
  display: flex;
  height: 40px;
  min-width: 112px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 24px;
  align-items: center;
  cursor: pointer;
  padding: 1px;
  background-image: linear-gradient(313.09deg, #f05822 0%, #fbb421 103.33%);
}

.btnInside {
  height: 38px;
  width: 100%;
  padding: 7px 15px;
  border-radius: 24px;
  background: #fff;
  color: transparent;
}

.btnContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background: linear-gradient(313.09deg, #f05822 0%, #fbb421 103.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
