@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--primary-color: #000;
	--bg-gradient-color: linear-gradient(313.09deg, #f05822 0%, #fbb421 103.33%);
	--tingo-color: #F8A700,
	--tingo-bg-color: #fff5db;
	--menu-selected-bg-color: rgba(247, 139, 41, 0.1);
	--status-wait-color: #856100;
	--status-wait-bg-color:#FFF9DE;
	--status-reject-color: #DB1F32;
	--status-reject-bg-color: #FCF8F7;
	--status-active-color: #177A19;
	--status-active-bg-color: #F3FAF2;
	--primary-border: 1px solid #d2d2d2;
	--delete-color: #D80027;
	--sidebar-width: 216px;
	--sidebar-width-collapse: 72px;
	--bg-content: 0, 0, 0, 0.02;
	--secondary-color: rgba(0, 0, 0, 0.6);
	--detail-data-bg: rgba(0, 0, 0, 0.02);
	--boder-input-color: rgba(0, 0, 0, 0.1);
	--bg-primary-color: #F2F2F2
}

* {
	font-family: 'Inter', sans-serif;
}

.css-zxdg2z{
	padding: 0 !important;
	max-height: calc(100vh - 72px) !important;
	overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
	background: #fff;
}
::-webkit-scrollbar-thumb {
	border-radius: 24px;
  background: rgba(173, 173, 173, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 173, 173, 0.8);
}

.btnBgLinear {
	gap: 13px;
	color: var(--primary-color);
	cursor: pointer;
	display: flex;
	padding: 8px 16px;
	font-size: 16px;
	background: var(--bg-gradient-color);
	align-items: center;
	font-weight: 600;
	line-height: 24px;
	border-radius: 24px;
}